Summary-CSharp.md linguist-language=CSharp
Summary-CSharp.pdf linguist-language=CSharp

Summary-SQL.md linguist-detectable=true
Summary-SQL.md linguist-language=sql
Summary-SQL.pdf linguist-detectable=true
Summary-SQL.pdf linguist-language=sql
